Day2/UserStorageSystem/UserManagementServiceClient/Service References/UserManagementService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UserStorageSystem.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UserStorageSystem.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="tns:Gender" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Passport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisaRecords" nillable="true" type="tns:ArrayOfVisaRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male" />
      <xs:enumeration value="Female" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:complexType name="ArrayOfVisaRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VisaRecord" type="tns:VisaRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVisaRecord" nillable="true" type="tns:ArrayOfVisaRecord" />
  <xs:complexType name="VisaRecord">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="From" type="xs:dateTime" />
      <xs:element minOccurs="0" name="To" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VisaRecord" nillable="true" type="tns:VisaRecord" />
</xs:schema>