Day2/UserStorageSystem/UserManagementServiceClient/Service References/UserManagementService/UserManagementSystem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserManagementSystem" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UserStorageSystem.Entities" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_RemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_RemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_FindUser_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_FindUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_CommitChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:CommitChanges" />
  </wsdl:message>
  <wsdl:message name="IUserService_CommitChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommitChangesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_FindUsersByFirstName_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUsersByFirstName" />
  </wsdl:message>
  <wsdl:message name="IUserService_FindUsersByFirstName_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUsersByFirstNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_FindUsersByLastName_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUsersByLastName" />
  </wsdl:message>
  <wsdl:message name="IUserService_FindUsersByLastName_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUsersByLastNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_FindUsersByBirthDate_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUsersByBirthDate" />
  </wsdl:message>
  <wsdl:message name="IUserService_FindUsersByBirthDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUsersByBirthDateResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_FindUsersWhoseNameContains_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUsersWhoseNameContains" />
  </wsdl:message>
  <wsdl:message name="IUserService_FindUsersWhoseNameContains_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUsersWhoseNameContainsResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddUser" message="tns:IUserService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddUserResponse" message="tns:IUserService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/RemoveUser" message="tns:IUserService_RemoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/RemoveUserResponse" message="tns:IUserService_RemoveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/FindUser" message="tns:IUserService_FindUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/FindUserResponse" message="tns:IUserService_FindUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommitChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/CommitChanges" message="tns:IUserService_CommitChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/CommitChangesResponse" message="tns:IUserService_CommitChanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUsersByFirstName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/FindUsersByFirstName" message="tns:IUserService_FindUsersByFirstName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/FindUsersByFirstNameResponse" message="tns:IUserService_FindUsersByFirstName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUsersByLastName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/FindUsersByLastName" message="tns:IUserService_FindUsersByLastName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/FindUsersByLastNameResponse" message="tns:IUserService_FindUsersByLastName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUsersByBirthDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/FindUsersByBirthDate" message="tns:IUserService_FindUsersByBirthDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/FindUsersByBirthDateResponse" message="tns:IUserService_FindUsersByBirthDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUsersWhoseNameContains">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/FindUsersWhoseNameContains" message="tns:IUserService_FindUsersWhoseNameContains_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/FindUsersWhoseNameContainsResponse" message="tns:IUserService_FindUsersWhoseNameContains_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/RemoveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/FindUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitChanges">
      <soap:operation soapAction="http://tempuri.org/IUserService/CommitChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUsersByFirstName">
      <soap:operation soapAction="http://tempuri.org/IUserService/FindUsersByFirstName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUsersByLastName">
      <soap:operation soapAction="http://tempuri.org/IUserService/FindUsersByLastName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUsersByBirthDate">
      <soap:operation soapAction="http://tempuri.org/IUserService/FindUsersByBirthDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUsersWhoseNameContains">
      <soap:operation soapAction="http://tempuri.org/IUserService/FindUsersWhoseNameContains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserManagementSystem">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:8080/UserManagement" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>